<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>========================== 设备状态 ==========================</string>
	<key>jailbroken</key>
	<dict>
		<key>description</key>
		<string>启动时检测到用户手机越狱或ROOT时提示</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>尊敬的用户，您的手机已越狱，可能存在安全隐患，因此造成的财产损失将由您自行承担。建议您取消越狱后再使用客户端。</string>
		<key>buttons</key>
		<array>
			<string>知道了</string>
		</array>
	</dict>
	<key>app_damaged</key>
	<dict>
		<key>description</key>
		<string>客户端启动时MD5检验未通过</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>客户端已损坏，请安装最新客户端。</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>3g_check</key>
	<dict>
		<key>description</key>
		<string>启动时检测用户使用移动数据网络时提示</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>尊敬的用户，客户端需要使用数据连接服务，所产生的流量费用将由运营商收取，建议您使用WIFI或者运营商提供的流量包套餐。</string>
		<key>buttons</key>
		<array>
			<string>知道了</string>
		</array>
	</dict>
	<key>2</key>
	<string>========================== 网络异常 ==========================</string>
	<key>network_error</key>
	<dict>
		<key>description</key>
		<string>客户端因为网络问题引起通信中断</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>网络不给力，请重试</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>network_error_exit</key>
	<dict>
		<key>description</key>
		<string>客户端因为网络问题引起通信中断</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>网络不给力，请检查您的网络状态后重试。</string>
		<key>buttons</key>
		<array>
			<string>退出</string>
			<string>重试</string>
		</array>
	</dict>
	<key>network_error_retry</key>
	<dict>
		<key>description</key>
		<string>客户端因为网络问题引起通信中断</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>网络不给力，请检查您的网络状态后重试。</string>
		<key>buttons</key>
		<array>
			<string>取消</string>
			<string>重试</string>
		</array>
	</dict>
	<key>check_version_error</key>
	<dict>
		<key>description</key>
		<string>客户端版本检测失败</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>客户端版本检查失败！</string>
		<key>buttons</key>
		<array>
			<string>退出</string>
			<string>重试</string>
		</array>
	</dict>
	<key>service_exception</key>
	<dict>
		<key>description</key>
		<string>服务端异常</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>服务端异常，请稍后再试</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>load_more_failure</key>
	<dict>
		<key>description</key>
		<string>加载更多失败</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>加载更多失败，请重试</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>3</key>
	<string>========================== 服务端数据异常 ==========================</string>
	<key>server_result_is_null</key>
	<dict>
		<key>description</key>
		<string>泰和网尚未查询到您要的结果</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>尚未查询到您要的结果</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>4</key>
	<string>========================== 版本检测 ==========================</string>
	<key>is_last_version</key>
	<dict>
		<key>description</key>
		<string>当前已是最新版本</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>当前已是最新版本</string>
		<key>buttons</key>
		<array>
			<string>退出</string>
			<string>重试</string>
		</array>
	</dict>
	<key>version_error</key>
	<dict>
		<key>description</key>
		<string>服务端版本不包含当前客户端版本号</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>当前版本不可用，请安装最新客户端</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>version_is_newest</key>
	<dict>
		<key>description</key>
		<string>已经是最新版本，不需要更新</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>已经是最新版本！</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>5</key>
	<string>========================== 用户相关 ==========================</string>
	<key>session_time_out</key>
	<dict>
		<key>description</key>
		<string>登录超时</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>您登录已超时，请重新登录</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>user_logout</key>
	<dict>
		<key>description</key>
		<string>退出账号</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>确定要退出登录？</string>
		<key>buttons</key>
		<array>
			<string>取消</string>
			<string>确定</string>
		</array>
	</dict>
	<key>login_timeout</key>
	<dict>
		<key>description</key>
		<string>用户登录客户端超时</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>登录已超时，请重新登录</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>username_is_null</key>
	<dict>
		<key>description</key>
		<string>用户未输入账号</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>请输入您的账号</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>username_length_error</key>
	<dict>
		<key>description</key>
		<string>账号小于3位或大于15位</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>请输入3-15位账号</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>username_format_error</key>
	<dict>
		<key>description</key>
		<string>账号小于4位或大于30位</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>账号格式不正确</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>user_name_format_error</key>
	<dict>
		<key>description</key>
		<string>用户名小于3位或大于15位</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>用户名格式不正确</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>name_is_null</key>
	<dict>
		<key>description</key>
		<string>姓名未输入</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>请输入真实姓名</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>name_format_error</key>
	<dict>
		<key>description</key>
		<string>姓名小于2位或大于15位</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>姓名格式不正确</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>card_is_null</key>
	<dict>
		<key>description</key>
		<string>未输入身份证</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>请输入身份证号</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>card_format_error</key>
	<dict>
		<key>description</key>
		<string>身份证格式不正确</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>身份证格式不正确</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>bankcard_is_null</key>
	<dict>
		<key>description</key>
		<string>银行卡号未输入</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>请输入银行卡号</string>
	</dict>
	<key>bankcard_format_error</key>
	<dict>
		<key>description</key>
		<string>银行卡号格式不正确</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>银行卡号格式不正确</string>
	</dict>
	<key>current_login_password_null</key>
	<dict>
		<key>description</key>
		<string>用户未输入当前密码</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>请输入当前密码</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>new_login_password_null</key>
	<dict>
		<key>description</key>
		<string>用户未输入新登录密码</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>请输入新密码</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>current_login_password_length_error</key>
	<dict>
		<key>description</key>
		<string>当前密码小于6位或大于20位</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>请输入6-20位密码</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>new_login_password_length_error</key>
	<dict>
		<key>description</key>
		<string>新密码小于6位或大于20位</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>请输入6-20位密码</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>login_password_is_null</key>
	<dict>
		<key>description</key>
		<string>用户未输入登录密码</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>请输入登录密码</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>login_password_length_error</key>
	<dict>
		<key>description</key>
		<string>密码小于6位或大于20位</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>请输入6-20位密码</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>login_password_update_success</key>
	<dict>
		<key>description</key>
		<string>重置密码成功</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>登录密码重置成功，请重新登录</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>login_password_change_result_success</key>
	<dict>
		<key>description</key>
		<string>登录密码修改成功</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>密码修改成功，请重新登录</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>login_password_change_result_faild</key>
	<dict>
		<key>description</key>
		<string>登录密码修改失败</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>密码修改失败</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>login_password_same</key>
	<dict>
		<key>description</key>
		<string>原密码与新密码相同</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>原密码与新密码相同，请重新输入</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>register_password_twice_inconsistent</key>
	<dict>
		<key>description</key>
		<string>两次新登录密码输入不一致</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>两次新登录密码输入不一致，请重新输入</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>trade_password_twice_inconsistent</key>
	<dict>
		<key>description</key>
		<string>两次新交易密码输入不一致</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>两次新交易密码输入不一致，请重新输入</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>register_success</key>
	<dict>
		<key>description</key>
		<string>注册成功</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>注册成功！</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>email_is_null</key>
	<dict>
		<key>description</key>
		<string>用户未输入电子邮箱</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>请输入电子邮箱</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>email_format_error</key>
	<dict>
		<key>description</key>
		<string>邮箱格式不正确</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>请输入正确格式的邮箱</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>phone_number_is_null</key>
	<dict>
		<key>description</key>
		<string>未输入手机号</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>请输入手机号码</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>phone_number_length_error</key>
	<dict>
		<key>description</key>
		<string>用户输入手机号码格式错误，手机号码正确格式：11位、数字</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>手机号格式不正确</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>phone_number_format_error</key>
	<dict>
		<key>description</key>
		<string>非13、15、18、17…….. 开头</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>手机号格式不正确</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>mobile_bind_success</key>
	<dict>
		<key>description</key>
		<string>手机绑定成功</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>√ 绑定成功！</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>mobile_unbind</key>
	<dict>
		<key>description</key>
		<string>手机未绑定</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>请先进行手机绑定</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>email_bind_success</key>
	<dict>
		<key>description</key>
		<string>邮箱绑定成功</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>验证邮件已发出，请查收</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>email_unbind</key>
	<dict>
		<key>description</key>
		<string>邮箱未绑定</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>请先进行邮箱绑定</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>change_password_success</key>
	<dict>
		<key>description</key>
		<string>登录密码修改成功</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>√ 修改成功！</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>find_password_success</key>
	<dict>
		<key>description</key>
		<string>找回密码成功</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>√ 密码找回成功！</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>chage_tradeword_success</key>
	<dict>
		<key>description</key>
		<string>交易密码修改成功</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>√ 修改成功！</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>set_tradeword_success</key>
	<dict>
		<key>description</key>
		<string>设置交易密码</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>√ 交易密码设置成功！</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>change_avatar_success</key>
	<dict>
		<key>description</key>
		<string>修改头像成功</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>√ 修改成功！</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>set_nickname_success</key>
	<dict>
		<key>description</key>
		<string>设置个性昵称成功</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>√ 设置成功！</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>authentic_name_tips</key>
	<dict>
		<key>description</key>
		<string>未实名认证提示</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>为保障安全，请先绑卡和实名认证</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>invite_amount_format_error</key>
	<dict>
		<key>description</key>
		<string>邀请人格式输入有误</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>邀请人格式输入有误,请重新输入</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>trade_password_tips</key>
	<dict>
		<key>description</key>
		<string>未设置交易密码</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>为保障账户安全，请先设置交易密码</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>6</key>
	<string>========================== 手势密码相关 ==========================</string>
	<key>gesture_password_success</key>
	<dict>
		<key>description</key>
		<string>手势密码设置成功</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>手势密码设置成功</string>
		<key>buttons</key>
		<array>
			<string>取消</string>
			<string>重新登录</string>
		</array>
	</dict>
	<key>forgot_gesture_password</key>
	<dict>
		<key>description</key>
		<string>忘记手势密码</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>忘记手势密码，需重新登录</string>
		<key>buttons</key>
		<array>
			<string>取消</string>
			<string>重新登录</string>
		</array>
	</dict>
	<key>gesture_password_five_times_error</key>
	<dict>
		<key>description</key>
		<string>连续输错五次手势密码</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>您已连续5次输错手势，手势解锁已关闭，请重新登录</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>gesture_password_invaild</key>
	<dict>
		<key>description</key>
		<string>手势密码失效</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>您的手势密码已失效，请重新登录</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>7</key>
	<string>========================== 短信验证码相关 ==========================</string>
	<key>register_view_go_back</key>
	<dict>
		<key>description</key>
		<string>在获取验证码后点击返回的提示</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>短信验证码可能略有延迟，请稍等</string>
		<key>buttons</key>
		<array>
			<string>不了</string>
			<string>好的</string>
		</array>
	</dict>
	<key>sms_code_format_error</key>
	<dict>
		<key>description</key>
		<string>用户输入动态验证码格式错误，动态验证码正确格式：6位、数字</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>您输入的验证码有误，请重新输入</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>verification_code_is_null</key>
	<dict>
		<key>description</key>
		<string>用户未输入验证码</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>请输入验证码</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>verification_code_format_error</key>
	<dict>
		<key>description</key>
		<string>验证码格式不正确</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>验证码格式不正确</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>verification_code_timeout</key>
	<dict>
		<key>description</key>
		<string>客户端获取短信或动态验证码超时</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>获取验证码失败，请重新获取</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>verification_code_error</key>
	<dict>
		<key>description</key>
		<string>验证码输入错误</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>验证码输入错误</string>
		<key>buttons</key>
		<array>
			<string>知道了</string>
		</array>
	</dict>
	<key>authentication_code_not_send</key>
	<dict>
		<key>description</key>
		<string>未发送验证码</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>请先获取验证码</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>8</key>
	<string>========================== 交易相关 ==========================</string>
	<key>funds_not_sufficient</key>
	<dict>
		<key>description</key>
		<string>用户余额不足</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>可用余额不足，请先充值</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>tender_amount_null</key>
	<dict>
		<key>description</key>
		<string>用户输入投标金额为空</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>请输入投资金额</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>tender_count_null</key>
	<dict>
		<key>description</key>
		<string>用户输入投标金额为空</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>请输入投资份额</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>ecash_amount_null</key>
	<dict>
		<key>description</key>
		<string>用户输入e取的转入金额为空</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>请输入可转入金额</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>calculator_type_error</key>
	<dict>
		<key>description</key>
		<string>投算器投资类型未选择</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>请选择投资类型</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>calculator_date_error</key>
	<dict>
		<key>description</key>
		<string>投算器投资期限未选择</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>请选择投资期限</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>calculator_amount_error</key>
	<dict>
		<key>description</key>
		<string>投算器金额输入</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>金额必须为100的倍数，请重新输入</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>recharge_amount_null</key>
	<dict>
		<key>description</key>
		<string>用户输入充值金额为空</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>请输入充值金额。</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>project_investment_failed</key>
	<dict>
		<key>description</key>
		<string>该项目投资已失败</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>该项目投资已失败！</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>trading_password_is_null</key>
	<dict>
		<key>description</key>
		<string>用户未输入交易密码</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>请输入交易密码</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>trading_password_length_error</key>
	<dict>
		<key>description</key>
		<string>用户输入的交易密码长度错误</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>交易密码为6位数字，请重新输入</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>withdrawal_amount_null</key>
	<dict>
		<key>description</key>
		<string>未输入提现金额</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>请输入提现金额</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>withdrawal_amount_length_error</key>
	<dict>
		<key>description</key>
		<string>提现金额输入错误</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>提现金额不能小于1元</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>tender_timeout</key>
	<dict>
		<key>description</key>
		<string>投标超时</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>当前投标用户过多，请稍后重试！</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>9</key>
	<string>========================== 意见反馈相关 ==========================</string>
	<key>feedback_length_error</key>
	<dict>
		<key>description</key>
		<string>反馈内容小于3位大于150位</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>反馈内容长度不符合要求</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>feedback_contact_error</key>
	<dict>
		<key>description</key>
		<string>用户输入联系方式格式错误</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>联系方式格式不正确</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>feedback_result_success</key>
	<dict>
		<key>description</key>
		<string>反馈内容提交成功</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>意见反馈成功，我们会及时处理，
感谢您对我们的支持</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>feedback_result_faild</key>
	<dict>
		<key>description</key>
		<string>反馈内容提交失败</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>提交失败</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>10</key>
	<string>========================== 分享相关 ==========================</string>
	<key>wechat_uninstall</key>
	<dict>
		<key>description</key>
		<string>用户未安装微信客户端</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>请先安装微信客户端</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>weibo_uninstall</key>
	<dict>
		<key>description</key>
		<string>用户未安装新浪微博客户端</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>请先安装新浪微博客户端</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>share_url_copy_success</key>
	<dict>
		<key>description</key>
		<string>复制分享地址成功</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>√ 复制成功！</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>11</key>
	<string>========================== 连连支付相关 ==========================</string>
	<key>lianlian_pay_result_success</key>
	<dict>
		<key>description</key>
		<string>连连支付成功</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>支付成功</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>lianlian_pay_result_failure</key>
	<dict>
		<key>description</key>
		<string>连连支付失败</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>支付失败</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>lianlian_pay_result_cancel</key>
	<dict>
		<key>description</key>
		<string>支付取消，用户行为</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>支付取消</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>lianlian_pay_result_init_error</key>
	<dict>
		<key>description</key>
		<string>支付初始化错误，订单信息有误，签名失败等</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>支付初始化错误</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>lianlian_pay_result_param_error</key>
	<dict>
		<key>description</key>
		<string>支付订单参数有误，无法进行初始化，未传必要信息等</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>支付订单参数有误</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
	<key>lianlian_pay_result_unknow</key>
	<dict>
		<key>description</key>
		<string>无知错误</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>发生无知错误，请重试</string>
		<key>buttons</key>
		<array>
			<string>确定</string>
		</array>
	</dict>
</dict>
</plist>
